* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}
.container {
  width: 100%;
  height: 100vh;
  background: #e3f9ff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  background: black;
  padding: 1rem;
  border-radius: 1rem;
}
.calculator form input {
  border: 0;
  outline: 0;
  border-radius: .65rem;
  width: 3.75rem;
  height: 3.75rem;
  color: #fff;
  background: transparent;
  cursor: pointer;
  margin: 1rem;
  font-size: 1.5rem;
  box-shadow: -1px -1px 10px rgba(255, 255, 255, 0.1)
}
form input.equal {
  width: 10rem;
  font-size: 2rem;
}
.display {
  display: flex;
  justify-content: flex-end;
  margin: 1rem 0;
  color: white;
}
.display input {
  text-align: right;
  flex: 1;
  font-size: 2rem;
}
#number, #answer {
  background: whitesmoke;
  color: black;
}
#operator {
  background: blue;
  color: white;
  border-top-right-radius: 12px;
}
@media all and (max-width: 400px) {
  .calculator {
    width: 75%;
    height: 55%;
    padding: .5rem;
    border-radius: none;
  }
  .display {
    margin-top: 2rem;
  }
  .calculator form input {
    width: 1.525rem;
    height: 1.5rem;
    color: #fff;
    background: transparent;
    cursor: pointer;
    margin: .5rem;
    font-size: .8rem;
  }
  form input.equal {
    width: 5rem;
    font-size: 1.4rem;
  }
}