* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}
body {
  background: #e3f9ff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.calculator {
  padding: 2rem 1rem 1rem 1rem;
  background: black;
  border-radius: 7px;
}
.calculator form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.calculator form div {
  display: flex;
  justify-content: space-between;
  gap: .5rem;
}
.display {
  margin-bottom: 2rem;
}
 #display {
  align-self: end;
  height: 4rem;
  flex: 1;
  text-align: right;
  font-family: poppins;
  background: white;
  color: black;
}
.calculator div input {
  flex-basis: 16.5%;
  outline: none;
  border: none;
  padding: .2em;
  color: white;
  background: #3b3c36;
  font-family: poppins;
}
#number, #equal {
  background: white;
  color: black;
}
#operator {
  background: cadetblue;
}
#number:hover, #operator:hover, #button:hover, top-left:hover, top-right:hover, bottom-right:hover, bottom-left:hover, #equal:hover{
  cursor: pointer;
}
.top-right {
  border-radius: 0px 5px 0px 0px;
}
.top-left {
  border-top-left-radius: 5px;
}
.bottom-left {
  border-bottom-left-radius: 5px;
}
.bottom-right, #equal {
  border-bottom-right-radius: 5px;
}
#number {
  padding: .4em;
}
.copyright {
  margin-top: 2rem;
}